@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Bangers&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  color: #171717;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #0853c4;
  font-family: Archivo, sans-serif;
}

.hidden {
  display: none;
}

#welcome-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("https://i.ya-webdesign.com/images/comic-book-explosion-background-png.png");
  background-size: 1260px;
  background-repeat: no-repeat;
  background-position-x: center;
  height: 760px;
}

#welcome-screen h1 {
  font-family: Bangers;
  font-size: 9rem;
  color: #f20d11;
  text-shadow: 0px 0px 1px black;
}

#welcome-screen button {
  cursor: pointer;
  font-family: Archivo, sans-serif;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 4px -2px #171717;
          box-shadow: 0 0 4px -2px #171717;
  padding: .5rem;
  margin: 0 1.5rem;
}

#welcome-screen #start-game {
  -webkit-box-shadow: 0 0 3px #1c4a21;
          box-shadow: 0 0 3px #1c4a21;
  background-color: #3fa649;
}

#welcome-screen #sign-in {
  -webkit-box-shadow: 0 0 3px #482d05;
          box-shadow: 0 0 3px #482d05;
  background-color: #ffcc00;
}

#game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

#game button {
  cursor: pointer;
  font-family: Archivo, sans-serif;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 6px -2px #2d0629;
          box-shadow: 0 0 6px -2px #2d0629;
  padding: .5rem;
  margin: .5rem;
}

#game .select-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 15px -2px #2d0629;
          box-shadow: 0 0 15px -2px #2d0629;
  width: 600px;
  padding: 2rem;
  margin-top: 6rem;
  background-color: #931587;
}

#game .select-category p {
  font-size: 1.1rem;
  background-color: whitesmoke;
  padding: 1rem;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 6px -2px #2d0629;
          box-shadow: 0 0 6px -2px #2d0629;
  margin-bottom: 2rem;
  text-align: center;
}

#game .select-category select {
  font-size: 1rem;
  border-radius: 5px;
  padding: .5rem;
  margin-bottom: 1rem;
  font-family: Archivo, sans-serif;
}

#game .select-category button {
  background-color: #f2a736;
}

#game .question-card {
  display: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 15px -2px #2d0629;
          box-shadow: 0 0 15px -2px #2d0629;
  width: 600px;
  background-color: #931587;
  margin-top: 6rem;
  padding: 3rem;
}

#game .question-card .next {
  background-color: #f2a736;
}

#game .question-card p {
  font-size: 1.1rem;
  background-color: whitesmoke;
  padding: 1rem;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 6px -2px #2d0629;
          box-shadow: 0 0 6px -2px #2d0629;
  margin-bottom: 2rem;
  text-align: center;
}

#game .question-card .options {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 10px;
}

#game-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

#game-end .result-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 15px -2px #2d0629;
          box-shadow: 0 0 15px -2px #2d0629;
  width: 400px;
  height: 300px;
  background-color: #931587;
  margin-top: 6rem;
  padding: 3rem;
}

#game-end .result-card p {
  font-size: 1.1rem;
  background-color: whitesmoke;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 6px -2px #2d0629;
          box-shadow: 0 0 6px -2px #2d0629;
  text-align: center;
}

#game-end .result-card button {
  cursor: pointer;
  font-family: Archivo, sans-serif;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 6px -2px #2d0629;
          box-shadow: 0 0 6px -2px #2d0629;
  padding: .5rem;
  margin: .5rem;
}

.game-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  padding: 1rem;
  -webkit-box-shadow: 0 0 5px #482d05;
          box-shadow: 0 0 5px #482d05;
  background-color: #f2a736;
}

.game-header h1 {
  font-size: 3rem;
  font-family: Bangers;
  color: #e63743;
  text-shadow: 0px 0px 1px black;
}

.game-header .answer-count {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=index.css.map */