@import './base';
@import './flexbox';
@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Bangers&display=swap');

#welcome-screen {
  @include centered-column;
  background-color: $blue;
  background-image: url('https://i.ya-webdesign.com/images/comic-book-explosion-background-png.png');
  background-size: 1260px;
  background-repeat: no-repeat;
  background-position-x: center;
  height: 100vh;

  h1 {
    font-family: Bangers;
    font-size: 9rem;
    color: hsl(359, 90%, 50%);
    text-shadow: 0px 0px 1px black;
  }

  button {
    cursor: pointer;
    font-family: Archivo, sans-serif;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    padding: .5rem;
    margin: 0 1.5rem;
  }

  #start-game {
    box-shadow: 0 0 3px $darkgreen;
    background-color: $green;
  }

  #sign-in {
    box-shadow: 0 0 3px $darkyellow;
    background-color: hsl(48, 100%, 50%);
  }
}